    /*  bleu #0065FC 
    bleu clair #DEEBFF 
    gris #F2F2F2 */


    body {
        font-family: 'Raleway', sans-serif;
        width: 1440px;
        height: auto;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    a{
        text-decoration: none;
    }     
    /* HEADER */
    header {
        display: flex;
        width: auto;
        margin: 50px 50px 20px 50px;
    }
    header img{
        width: 100px;
        height: 50px;
    }
    .logo{
        flex: 1;
    }
    header ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .hébergements{
        margin-right: 50px;
    }
    .activités{
        margin-right: 50px;
    }
    .inscription{
        font-weight: bold;
        color:#0065FC;
    }
    .inscription a:visited {
        color: #0065FC;
    }
    .activités {
        color: black;
    }
    .activités a:visited{
        color: black;
    }
    .activités a:hover{
        color: #0065FC;
        text-decoration-line: overline;
    }
    .hébergements {
        color: black;
    }
    .hébergements a:visited{
        color: black;
    }
    .hébergements a:hover{
        color: #0065FC;
        text-decoration-line: overline;
    }       
    
        
    /* MAIN */
    main{
        display: flex;
        flex-direction: column;
        margin: 0px 50px;
    }    
    

    /* TITLE */
        
    /* SEARCH FIELD */
    .search-field {
        display: flex;
        width: 420px;
        height: 50px;
        height: 50px;
        background-color: #F2F2F2 ;
        border-radius: 15px;
        
    }
    #search {
        padding: 7px;
        font-weight: bold;
        width: 260px;
        height: 50px;
        font-size: 1.2em;
        display: flex;
        text-align: left;
        border: 2px solid #F2F2F2;
    }
    .search_btn {
        border: none;
        background-color: #0065FC;
        color: white;
        width: 110px;
        height: 50px;
        margin: auto;
        padding: auto;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        text-decoration: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition-duration: 0.4s;
        border: 2px solid #0065FC;
    }
    .search_btn:hover{
        background-color: white;
        color: #0065FC;
    }
    i {
        width: 50px;
        margin: auto;
        text-align: center;
    }
        
    /* FILTERS */
    .filters-cont{
        display: flex;
        align-content: center;
        margin-top: 25px;
    }
    .filters-cont h3{
        margin-top: 14px;
        height: 50px;
        display: flex;
    }
    .filters {
        display: flex;
        flex-direction: row;
        height: 50px;
        padding: 0;
        font-weight: bold;
        font-size: 1em;
    }
    .filters p{
        vertical-align: middle;
    }
    .filters_details {
        border: 2px solid #F2F2F2;
        display: flex;
        height: 50px;
        width: max-content;
        border-radius: 100px;
        margin-left: 20px;
    }
    .icone{
        background-color: #DEEBFF;
        display: flex;
        border-radius: 100px;
    }
    .filters_details i{
        color: #0065FC;
    }
    button{
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        font-weight: bold;
        border: none;
        background-color: transparent;
        cursor:pointer;
        font-size: 1.2em;
        padding-right: 10px;
        padding-left: 10px;
    }
    .info{
        display: flex;
        line-height: 30px;
        align-items: center;
    }
    .border-info{
        width: 30px;
        height: 30px;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        display: flex;
    }
    .fa-info{
        color: #0065FC;
    }
    .info p{
        width: auto;
        margin-left: 15px;
    }
    /*CONTAINER 1*/
    .container1{
        display: flex;
    }

    /* HEBERGEMENTS */
    #hébergements{
        display: flex;
        flex-direction: column;
        flex: 0.7;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        justify-content: space-evenly;
    }
    
    #hébergements a{
        text-decoration-style: none;
        text-decoration-color: none;
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    #hébergements h2{
        margin-left: 35px;
    }
    #hébergements>p{
        margin-left: 35px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .photo{
        display: flex;
    }
    .photos-hébergements{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1;
    }
    .photos-hébergements h4{
        margin: 10px 0px 10px 10px;
    }
    .photos-hébergements p{
        margin: 0px 0px 10px 10px;
    }
    .description{
        display: flex;
        height: 200px;
        margin-left: 30px;
        flex-direction: column;
        background-color: white;
        border: 5px solid white;
        border-radius: 25px;
        box-shadow: 0px 0px 10px #F2F2F2;
    }
    .stars{
        display: flex;
        justify-content: flex-start;
        margin: 0px 0px 10px 10px;
    }
    .fa-star{
        color: #0065FC;
        margin: 0;
        width: 20px;
    }
    #photo1{
        width: 235px;
        height: 115px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        object-fit: cover;
    }

    /*POPULAIRES*/
    #populaires{
        display: flex;
        flex-direction:  column;
        flex: 0.3;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 20px;
        margin-left: 30px;
    }
    #photo2{
        width: 125px;
        height: 135px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        object-fit: cover;
    }
    .description2{
        display: flex;
        width: 335px;
        flex-direction: row;
        background-color: white;
        border: 5px solid white;
        border-radius: 25px;
        box-shadow: 0px 0px 10px #F2F2F2;
        margin-bottom: 25px;
    }
    .photo-populaires{
        display: flex;
        background-color: white;
    }
    .details{
        padding-left: 20px;
    }
    .details h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .details p{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .details .stars{
        margin-left: 0;
    }
    .chart{
        width: 335px;
        display: flex;
        justify-content: space-between;
    }

    /*CONTAINER 3*/
    #activités{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container3{
        display: flex;
        flex-direction: column;
        
    }
    .container3 img{
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container3 p{
        font-weight: bold;
        margin-left: 20px;
    }
    .cont1{
        display: flex;
        flex-direction: column;
        width: 20.5%;
        height: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 15px #f2f2f2;
    }
    
    .cont2{
        display: flex;
        flex-direction: column;
        width: 20.5%;
    }

    .cont3{
        display: flex;
        flex-direction: column;
        width: 20.5%;
        height: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 15px #f2f2f2;
    }
    .cont4{
        display: flex;
        flex-direction: column;
       
    }


    /* FOOTER */
    footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-top: 50px;
        padding: 25px 0px 25px 50px;
        background-color: #F2F2F2;
    }
    footer ul{
        list-style-type: none;
        padding: 0;
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 440px;
    }
    .noshebergements{
        display: flex;
        flex-direction: column;
        width: 440px;
    }
    .assistance{
        display: flex;
        flex-direction: column;
        width: 440px;
    }

    /* MEDIA QUERIES */
    @media screen and (max-width: 375px){
        body {
            width: auto;
            margin: 25px 25px;
        }
        header{
            flex-wrap: wrap;
            justify-content: center;
        }
        header ul{
            order: 1;
            width: 300px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
        }
        .hébergements{
            padding: 0;
            margin: 0;
        }
        .activités{
            padding: 0;
            margin: 0;
        }
        main h2{
            margin-bottom: 0px;
        }
        .search-field{
            width: auto;
        }
        .recherche{
            display: none;
        }
        i {
            width: 100px;
        }
        #search {
            width: 220px;
        }
        .filters-cont{
            flex-direction: column;
        }
        .filters-cont h3{
            height: 35px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .filters{
            flex-wrap: wrap;
            width: 350px;            
            margin-top: 10px;
        }
        .filters_details{
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 20px;
        }
        .icone{
            width: 50px;
        }
        .filters button{
            font-size: 1em;
        }
        .info{
            margin-top: 150px;
        }
    }