/*  bleu #0065FC 
bleu clair #DEEBFF 
gris #F2F2F2 */



/* BODY */
body{
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}  



/* HEADER */
.navbar {
    display: flex;
    width: auto;
    margin: 50px 50px 20px 50px;
    justify-content: space-between;
}
.navbar img{
    width: 100px;
    height: 50px;
}
.logo{
    flex: 1;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.subnavbar{
    display: flex;
}
.hébergement{
    margin-right: 50px;
}
.activité{
    margin-right: 50px;
}
.inscription{
    font-weight: bold;
    color:#0065FC;
}
.inscription a:visited {
    color: #0065FC;
}
.activité {
    color: black;
}
.activité a:visited{
    color: black;
}
.activité a:hover{
    color: #0065FC;
}
.hébergement {
    color: black;
}
.hébergement a:visited{
    color: black;
}
.hébergement a:hover{
    color: #0065FC;
}       



/* MAIN */
main{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}    


/* TITLE */
main h1{
    margin: 0px 0px 10px 0px;
}
main p{
    margin: 0px 0px 20px 0px;
}   


/* SEARCH FIELD */
.search-field {
    display: flex;
    width: 420px;
    height: 50px;
    height: 50px;
    background-color: #F2F2F2 ;
    border-radius: 15px;
    
}
#search {
    padding: 7px;
    font-weight: bold;
    width: 260px;
    height: 50px;
    font-size: 1.2em;
    display: flex;
    text-align: left;
    border: 2px solid #F2F2F2;
}
.search_btn {
    border: none;
    background-color: #0065FC;
    color: white;
    width: 110px;
    height: 50px;
    margin: auto;
    padding: auto;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: 0.4s;
    border: 2px solid #0065FC;
}
.search_btn:hover{
    background-color: white;
    color: #0065FC;
}
i {
    width: 50px;
    margin: auto;
    text-align: center;
}


/* FILTERS */
.filters-cont{
    display: flex;
    align-content: center;
    margin-top: 25px;
}
.filters-cont h3{
    margin-top: 14px;
    height: 50px;
    display: flex;
}
.filters {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 0;
    font-weight: bold;
    font-size: 1em;
    margin: auto;
    margin-left: 15px;
}
.filters p{
    vertical-align: middle;
}
.filters_details {
    border: 2px solid #F2F2F2;
    display: flex;
    height: 50px;
    width: max-content;
    border-radius: 100px;
    margin-left: 20px;
}
.icone{
    background-color: #DEEBFF;
    display: flex;
    border-radius: 100px;
}
.filters_details i{
    color: #0065FC;
}
button{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor:pointer;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
}


/* INFO */
.info{
    display: flex;
    line-height: 30px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.border-info{
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
}
.fa-info{
    color: #0065FC;
}
.info p{
    width: auto;
    margin: auto;
    margin-left: 15px;
}

/* CONTAINER 1 */
.container1{
    display: flex;
}



/* HEBERGEMENTS */
.hébergements{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    justify-content: space-evenly;
}
.hébergements a{
    text-decoration-style: none;
    text-decoration-color: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.hébergements h2{
    margin-left: 35px;
    margin-top: 0px;
}
.hébergements>p{
    margin-left: 35px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.cards1{
    display: flex;
    flex-wrap: wrap;
}
.figure1{
    display: flex;
    flex-direction: column;
    width: 235px;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin: 0px 0px 30px 35px;
}
.figure1 img{
    height: 115px;
    width: 235;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}
.figure1 h3{
    margin: 10px 0px 10px 0px;
}
.figure1 figcaption{
    margin: 0px 0px 10px 10px;
}
.figure1 p{
    margin-bottom: 10px;
}
.stars{
    display: flex;
    justify-content: flex-start;
}
.fa-star{
    color: #0065FC;
    margin: 0;
    width: 20px;
}


/* POPULAIRES */
.cards2{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}
.charts{
    display: flex;
}
.charts h2{
    margin-left: 40px;
}
.charts i{
    margin-right: 40px;
}
.figure2{
    display: flex;
    width: 340px;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.figure2 img{
    width: 130px;
    height: 135px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}
.figure2 figcaption{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 10px;
}
.figure2 h3{
    margin: 10px 0px 10px 0px;
}

.figure1 p{
    margin-bottom: 10px;
}